.runner {
    position: absolute;
    bottom: 0;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.runner-left {
    left: -10%;
    background-image: url("../../login/pics/runningguy1.png");
    animation-name: runner-left;
}

.runner-right {
    right: -10%;
    background-image: url("../../login/pics/runningguy2.png");
    animation-name: runner-right;
}

@keyframes runner-left {
    from {
        transform: translateX(110%);
    }
    to {
        transform: translateX(-110%);
    }
}

@keyframes runner-right {
    from {
        transform: translateX(-110%);
    }
    to {
        transform: translateX(110%);
    }
}
