html {
    min-width: 1000px;
  }
  
  body {
    overflow-x: auto;
  }
  
  .WebContainer {
    width: 90%;
    height: 90vh;
    position: relative;
  }
  

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(DashboardBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: darkgray;
    z-index: -1;
  }
  
  .image {
    position: fixed;
    bottom: -2vw;
    left: -5vw;
    width: 110vw;
    height: 110vh;
    background-image: url(PC.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
  }
  

.buttons {
  position: fixed;
  top: 3vh;
  right: 3vw;
  z-index: 2;
}

.button {
  display: block;
  width: 6vw;
  height: 6vw;
  margin-bottom: 1vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  z-index: 3;
}

.button1 {
  background-image: url(Profile.png);
}

.button2 {
  background-image: url(Settings.png);
}

.button3 {
  background-image: url(Volume.png);
}

.button:hover{
  width: 8vw;
  height: 8vw;
  transition: width 0.2s, height 0.2s; 
}

.cash {
  position: fixed;
  top: -3vw;
  left: 3vw;
  z-index: 3;
  color: white;
  font-family: "W95FA", sans-serif;
  font-size: 5vw;
  font-weight: 900;
  text-shadow: black 4px 4px;
  user-select: none;
}

.logo {
  position: fixed;
  bottom:13vw;
  right: 9vw;
  z-index: 3;
  color: white;
  font-family: "W95FA", sans-serif;
  font-size: 10.5vw;
  font-weight: 900;
  text-shadow: black 10px 10px;
  transform: translateY(175%); /* Move the text up by 50% of its height */

  user-select: none
}
.navButtons{
    position: fixed;
    top: -1vw;
    right:11vw;
    z-index: 2;  
    padding: 11%;
    font-family: "W95FA", sans-serif;
    font-size: 10.5vw;
    font-weight: 900;
    
}


#shopButton{
    font-family: "W95FA", sans-serif;
    font-size: 2.5vw;
    font-weight: 900;
    text-shadow: WHITE 1PX 1px;
    width: 14vw;
    height: 6w;
    border-radius: 2px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.26);
    border: 2px solid darkgray;
    margin-bottom: 1.5vw;
}

#deckButton{
    font-family: "W95FA", sans-serif;
    font-size: 2.5vw;
    font-weight: 900;
    text-shadow: WHITE 1PX 1px;
    width: 14vw;
    height: 6vw;

    border-radius: 2px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.26);
    border: 2px solid darkgray;
    margin-top: 1.5vw;
}

.volume-slider-container {
  display: none;
}

