.login-container {
    background-image: url("../../src/login/pics/officebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-form {
    background-color: transparent;
    border-radius: 10px;
    padding: 13.33vw; /* 1/3 of the width of the viewport */
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    z-index: 2;
}


.runner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}


.runner-img {
    position: absolute;
    bottom: 0;
}
.runner {
    position: absolute;
    bottom: 0;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 500px; /* 设置宽度 */
    height: 500px; /* 设置高度 */
}


.runner-left {
    left: -10%;
    background-image: url("../../src/login/pics/runningguy1.png");
    animation-name: runner-left;
}

.runner-right {
    right: -10%;
    background-image: url("../../src/login/pics/runningguy2.png");
    animation-name: runner-right;
}

@keyframes runner-left {
    from {
        transform: translateX(110%);
    }
    to {
        transform: translateX(-110%);
    }
}

@keyframes runner-right {
    from {
        transform: translateX(-110%);
    }
    to {
        transform: translateX(110%);
    }
}
